/* Product Detail */
.product-detail-container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

/* Product Image */
.product-detail-image {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    max-width: 500px;
    width: 100%;
    max-height: 625px;
    height: 625px;
}

.product-detail-image img {
    width: 65%;
}

/* Product Data */
.product-detail-data {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: 100%;
}

.product-detail-data .data-title {
    font-weight: 700;
}

.product-detail-data h1,
.product-detail-data h2 {
    font: 300 16px/16px 'Manrope', sans-serif;
    color: #fff;
}

.product-detail-data h3 {
    text-align: center;
    font: 600 20px/20px 'Manrope', sans-serif;
    color: #fff;
    margin-bottom: 25px;
}

.product-detail-product-data {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 50px;
    max-height: 625px;
    height: 625px;
}

.main-data {
    margin-bottom: 4em;
}

.main-data h1,
.main-data h2,
.main-data p,
.specs-data p {
    margin-bottom: 10px;
}

/* Product Actions */
.product-detail-product-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.color-action,
.storage-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
}

label {
    font: 700 16px/16px "Manrope", sans-serif;
    color: #fff;
}

select {
    padding: 1em;
    border-radius: 0.25em;
    min-width: 200px;
}

button {
    padding: 1em;
    border-radius: 5px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all .25s ease-in-out;
}

button:hover {
    background-color: rgb(91, 91, 91);
    background: #fff;
    color: #000;
}

/* Media Queries */

@media (max-width: 1450px) {
    .product-detail-container {
        max-width: 90%;
    }

    .product-detail-image img {
        width: 70%;
    }
}

@media (max-width: 1125px) {
    .product-detail-container {
        max-width: 90%;
        gap: 40px;
    }
}

@media (max-width: 1075px) {
    .product-detail-container {
        max-width: 95%;
        gap: 35px;
    }

    .product-detail-product-data {
        max-height: 700px;
        height: 700px;
    }

    .product-detail-image {
        max-height: 700px;
        height: 700px;
    }
}

@media (max-width: 975px) {
    .product-detail-product-data {
        max-height: 775px;
        height: 775px;
    }

    .product-detail-image {
        max-height: 775px;
        height: 775px;
    }
}

@media (max-width: 780px) {
    .product-detail-container {
        flex-direction: column;
    }

    .product-detail-image {
        max-height: 625px;
        height: 625px;
        max-width: 90%;
        margin: 0 auto;
    }

    .product-detail-image img {
        width: 50%;
    }

    .product-detail-data {
        margin: 0 auto;
        max-width: 90%;
    }

    .product-detail-data p {
        line-height: 20px;
    }

    .product-detail-product-actions {
        margin-top: 55px;
    }

    .color-action,
    .storage-action {
        margin: 0 auto;
    }

    button {
        margin-top: 35px;
    }
}

@media (max-width: 550px) {
    .product-detail-image {
        max-height: 475px;
        height: 475px;
    }
}

@media (max-width: 500px) {
    .product-detail-product-data {
        max-height: 695px;
        height: 695px;
        padding: 30px;
    }
}

@media (max-width: 450px) {
    .product-detail-image img {
        width: 65%;
    }

    .product-detail-product-data {
        max-height: 735px;
        height: 735px;
    }
}